<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Tentative names-->
    <title>Home View</title>
    <!--Google Icons if needed-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
​

<body>

    <div class="Welcome">
        <div class="text">
            Welcome to DevR'Us!
        </div>
    </div>
    <div class="Mission">
        DevR’us mission is to help freelancers networking and look for other to collaborate in projects. DevR’us offers freelancer place where they can showcase their projects and look for work opportunity. Our app is a friendly atmosphere, that is welcoming to new and current members to build valuable professional friendships and networks. Professionalism that values diversity in opinions, perspectives and experience leading to respectful and candid debate and ideas exchange. 
    </div>
    <br>
    <br>
    <br>
    <!-- <div class="row">
        <div class="col s6 center-align">
            <!-- <button><a href="employerview.html">Employer</a></button> -->
            <!-- <a href = "employerview.html" class ="waves-effect waves-teal btn-flat">Employer</a> -->
            <!-- <a href="/employerview" class="waves-effect waves-light btn-large">Employer</a>
        </div> -->
        <!-- <div class="col s6 center-align"> -->
            <!-- <button><a href="freelancerview.html"> Freelancer</a></button> -->
            <!-- <a href="/freelancerview" class="waves-effect waves-light btn-large">Freelancer</a>
        </div>
    </div> --> 
    <div class="row">
        <div class="col s12 center-align">
            <!-- <button><a href="eventview.html">Networking</a></button> -->
            <a href="/eventview" class="waves-effect waves-light btn-large">Networking</a>
        </div>
        ​
        ​
        ​
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript">
        </script>
        <script src="assets/js/--Tentative" type="text/javascript"></script>
        <!-- Drop Down Buttom Javascript -->
        <script>
            $(".dropdown-trigger").dropdown();
        </script>
</body>
​

</html>