<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Tentative names-->
    <title>View Events</title>
    <!--Google Icons & Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Arvo|Concert+One|Courgette|Dancing+Script|Fjalla+One|Pathway+Gothic+One|
                                        Permanent+Marker|Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
​
​
</head>
​
<body>
​
    <!-- Marerialize NavBar -->
    <!-- Dropdown Structure -->
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo">DevR'Us | View Events</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons">dehaze</i></a></li>
            </ul>
        </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="home.html">Home</a></li>
        <li class="divider"></li>
            <li><a href="eventview.html">Networking</a></li>
            <li class="divider"></li>
            <li><a href="createEvent.html">Create Events</a></li>
    </ul>
    <!-- End of NavBar  -->
​
    <!-- Drop Down Buttom Javascript -->
    <script>
        $(".dropdown-trigger").dropdown();
    </script>
​
</body>
​
</html>




